/* #e7131a main-red */

/* #f4f4f4 lighter bg */


/* testing if changing img size here will effect img size change for all  */



.promo-text {
  color: rgb(170, 1, 1);
  font-weight: bold;
  text-align: center;
}

.mid-nav {
  height: 58px;
  background-color: white;
}

.logo {
  background-color: ;
}

img {
  height: 58px;
  max-height: 100%;
  max-width: 100%;
  /* background-color: #e7131a; */
}